* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  display: inline-block;
  width: 120px;
}
.error-name {
  color: red;
  margin-left: 120px;
  display: none;
}
.error-email {
  color: red;
  margin-left: 120px;
  display: none;
}
.error-password {
  color: red;
  margin-left: 120px;
  display: none;
}
.error-confirm-password {
  color: red;
  margin-left: 120px;
  display: none;
}
